/* https://paletton.com/#uid=10u0u0kiXpk8JEzdUunn7kWsxfB Linkki väreihin */
body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.8em;
  color: #7C400E;
  /*background-color: #FFD9BA;*/
  scroll-behavior: smooth;
}

h1 {
  font-size: 2em;
  letter-spacing: 0.38em;
  text-transform: uppercase;
}

h2 {
  font-family: 'Zhi Mang Xing', cursive;
  font-size: 1.5em;
  letter-spacing: 0.38em;
  text-transform: uppercase;
}

h3 {
  font-size: 1.17em;
  letter-spacing: 0.38em;
  text-transform: uppercase;
}

/* Parallax efektin määrittely*/

.tausta-1, .tausta-2, .tausta-3, .tausta-4, .tausta-5 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tausta-1 {
    background-image: url("3-1.jpg");
    min-height: 100%;
    min-width: 100%;
}

.tausta-2 {
  background-image: url("kuva1.jpg");
  min-height: 100%;
  min-width: 100%;
}

.tausta-3 {
  background-image: url("kuva3.jpg");
  min-height: 100%;
  min-width: 100%;
}

.tausta-4 {
  background-image: url("joh2-2.jpg");
  min-height: 100%;
  min-width: 100%;
}

.tausta-5 {
  background-image: url("3-1.jpg");
  min-height: 100%;
  min-width: 100%;
}

/*Ensimmäisen kuvan otsikon muotoilu*/

.etusivupaketti {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.etusivupaketti h1.source {
  display: inline;
  background-color: #FFD9BA;
  padding: 0.3em;
}

.etusivupaketti2  {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
}

.etusivupaketti2 span.source2 {
  background-color: #FFD9BA;
  padding: 0.25em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
}
/* Muiden kuvien otsikoiden muotoilu*/
.otsikkopaketti {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.otsikkopaketti span.source {
  font-size: 8pt;
}

/*Tekstiosuuden muotoilut*/

.te {
  background: #FFD9BA;
  position: relative;
  text-align: justify;
  font-size: 0.75em;
  padding: 1em 1.5em;
}

/*Viimeisen kuvan tekijöiden sijainnin muotoilu*/

.tekijät {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.tekijät h2.source3 {
  display: inline;
  background-color: #FFD9BA;
  padding: 0.5em;
}

.tekijät2 {
  position: absolute;
  top: 60%;
  width: 100%;
  text-align: center;
}

.tekijät2 span.source4 {
  background-color: #FFD9BA;
  font-size: 8pt;
  padding: 0.25em;
}

/*Responsiivisuutta pienemmille näytöille*/

@media only screen and (max-device-width: 992px) {
 .tausta-1, .tausta-2, .tausta-3, .tausta-4, .tausta-5 {
    background-attachment: scroll;
  }

  .tekijät {
    position: relative;
    top: 30%;
    width: 100%;
    text-align: center;
  }

  .tekijät h2.source3 {
    display:inline-flex;
    background-color: #FFD9BA;
    padding: 0.25em;
  }

  .tekijät2 {
    position: relative;
    top: 70%;
    width: 100%;
    text-align: center;
  }

  .tekijät2 span.source4 {
    display: inline-flex;
    background-color: #FFD9BA;
    font-size: 8pt;
    padding: 0.25em;
  }
}
