
body {
  color:black;
}

* {
  margin:0;
  padding:0;
}

/* Otsikkopalkin muotoilu */



/* Main muotoilu */

main {
  margin-top:15%;
}

section {
  margin:50px 19%;
}

/* Footer muotoilu */


/* Lomakkeen muotoilut*/

fieldset {
  padding:5%;
}

legend {

}

form {
}

table {
  width:100%;
}

td {
  width:50%;
  border-bottom:1px solid black;
  padding:10px;
}


input {
  width:98%
}
input.submit {
  width:80px;
}

textarea {
  width:100%;
}

/* Media queryt */

@media only screen and (max-width:600px) {
  section.lomake {
    margin:2%;
    margin-top:50px;
  }
}
