* {
  box-sizing: border-box;
}

body, html, main {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, serif;
  font-size: 16px;
  color: #bcc9f6;
  background: #4169e1;
}

header {
  background: #191970;
  color: #4169e1;
  font-family: Copperplate, fantasy;
  font-size: 2vw;
  padding: 0.5vw;
  text-align: left;
  margin: 0.2%;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
}

#Potsikko {
  width: 33.33%;
}

#vali {
  width: 33.33%;
}
.navi {
  float: right;
  display: flex;
  margin-top: 0vh;
  margin-right: 0vw;
  background: #191970;
  border-radius: 0.5vw;
  margin: 2vw 0.1vw;
  list-style-type: none;
  }

.navi, a:link {
  float: right;
  display: flex;               /* a:hover MUST come after a:link and a:visited */
  color: #4169e1;              /* a:active MUST come after a:hover */
  text-align: center;
  padding: 1vh 1.5vw;
  text-decoration: none;
  }

 a:visited:not(hover) {
  color: white;
  }

 a:hover:not(active) {
  color: #c2c2d2;
  }

 a.active {
    color: black;
  }

.ylaosuus {

}

img {
  border-radius: 10px;
}

.kuva-1 {
  float: right;
  display: flex;
  flex-wrap: nowrap;
  height: 25em;
  width: 34.7em;
  margin: 0.1vh 5vw 0 0;

}

.otsikko {
  margin: 10% 5% 2% 10%;
}

.teksti-1{
  margin: 20% 10% 5% 10%;
  position: relative;
}

.tausta-1, .tausta-2, .tausta-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tausta-1 {
    background-image: url("pa-1.jpg");
    height: 40%;

}

#t-1t {
  position: absolute;
  top: 20%;
  width: 33.33%;
  text-align: center;
  font-size: 1vw;
}

.teksti-2 {
  margin: 5% 10% 5% 10%;
}

.tausta-2 {
  background-image: url("pa-2.jpg");
  min-height: 35%;
}

#t-2t {
  position: absolute;
  top: 20%;
  right: 5em;
  width: 33.33%;
  text-align: center;
  font-size: 1vw;
}
 .teksti-3 {
   margin: 5% 10% 5% 10%;
   display: flex;
   flex-wrap: nowrap;
 }

 .vasen {
   float: left;
   padding: 5%;
 }

 .oikea {
   float: right;
   padding: 5% 0 5% 35%;
 }

 .tausta-3 {
   background-image: url("pa-3.jpg");
   height: 40%;
 }

 #t-3t {
   position: absolute;
   top: 20%;
   left: 33.33%;
   width: 33.33%;
   text-align: center;
   font-size: 1vw;
 }

 .teksti-4 {
   margin: 5% 10% 5% 10%;
 }

 #kuva-2 {
   height: 22em;
   width: 31.7em;
   margin: auto;
 }

 footer {
   display: flex;
   flex-wrap: nowrap;
   background: black;
 }

 .tekijat {
   width: 25%;
   list-style-type: none;
 }

.tayte {
  width: 20%;
}

 .alakuva {
   margin: auto;
   width: 10%;
   align-items: center;
 }

 .linkkeja {
    width: 25%;
    list-style-type: none;
    padding: 0 3% 0 0;
 }

.tiedot {
  margin: 1% 25% 1% 25%;
  padding: 2%;
  background: #191970;
  border-radius: 1%;
}
