* {
  box-sizing: border-box;
}

body, html, main {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, serif;
  font-size: 1vw;
  color: #bcc9f6;
  background: #4169e1;
}

header {
  background: #191970;
  color: #4169e1;
  font-family: Copperplate, Fantasy, serif;
  font-size: 2vw;
  padding: 0.5vw;
  text-align: left;
  margin: 0.2%;
  border-radius: 10px;
  display: flex;
  flex-wrap: nowrap;
}

#Potsikko {
  width: 33.33%;
}

#vali {
  width: 33.33%;
}
.navi {
  float: right;
  display: flex;
  margin-top: 0vh;
  margin-right: 0vw;
  background: #191970;
  border-radius: 0.5vw;
  margin: 2vw 0.1vw;
  list-style-type: none;
  }

.navi, a:link {
  float: right;
  display: flex;               /* a:hover MUST come after a:link and a:visited */
  color: #4169e1;              /* a:active MUST come after a:hover */
  text-align: center;
  padding: 1vh 1.5vw;
  text-decoration: none;
  }

 a:visited:not(hover) {
  color: white;
  }

 a:hover:not(active) {
  color: #c2c2d2;
  }

 a.active {
    color: black;
  }

.ylaosuus {

}

img {
  border-radius: 10px;
}

.kuva-1 {
  float: right;
  display: flex;
  height: 20%;
  width: 35%;
  margin: 0.1vh 5vw 0 0;

}

.otsikko {
  margin: 10% 5% 2% 10%;
}

.teksti-1{
  margin: 20% 10% 5% 10%;
  position: relative;
}

.tausta-1, .tausta-2, .tausta-3 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tausta-1 {
    background-image: url("pa-1.jpg");
    min-height: 50%;

}

#t-1t {
  position: absolute;
  top: 20%;
  width: 33.33%;
  text-align: center;
  font-size: 1vw;
}

.teksti-2 {
  margin: 5% 10% 5% 10%;
}

.tausta-2 {
  background-image: url("pa-2.jpg");
  min-height: 45%;
}

#t-2t {
  position: absolute;
  top: 20%;
  right: 5em;
  width: 33.33%;
  text-align: center;
  font-size: 1vw;
}
 .teksti-3 {
   margin: 5% 10% 5% 10%;
   display: flex;
   flex-wrap: nowrap;
 }

 .vasen {
   float: left;
   padding: 5%;
 }

 .oikea {
   float: right;
   padding: 5% 0 5% 35%;
 }

 .tausta-3 {
   background-image: url("pa-3.jpg");
   height: 40%;
 }

 #t-3t {
   position: absolute;
   top: 20%;
   left: 33.33%;
   width: 33.33%;
   text-align: center;
   font-size: 1vw;
 }

 .teksti-4 {
   margin: 5% 10% 5% 10%;
 }

 #kuva-2 {
   height: 20%;
   width: 35%;
   margin: auto;
 }

 footer {
   display: flex;
   flex-wrap: nowrap;
   background: black;
 }

 .tekijat {
   width: 25%;
   list-style-type: none;
 }

.tayte {
  width: 20%;
}

 .alakuva {
   margin: auto;
   width: 10%;
   align-items: center;
 }

 .linkkeja {
    width: 25%;
    list-style-type: none;
    padding: 0 3% 0 0;
 }

.tiedot {
  width: 65%;
  margin: auto;
  padding: 1%;
  background: #191970;
  border-radius: 1%;
}

.vasen-1 {
 padding-left: 15%;
}

.oikea-1 {
 padding-left: 15%;
}

.rivi-2 {
}

.vasen-2 {
  padding-left: 13%;
}

.oikea-2 {
  padding-left: 13%;
}

.alue {
  display: flex;
  flex-wrap: nowrap;
}

.alue-1 {
  width: 33.33%;
}

.alue-2 {
  width: 33.33%;
}

.alue-3 {
  width: 33.33%;
}

@media only screen and (max-width: 600px) {
  body, html, main {
    font-size: 2vw;
  }
  .tausta-1, .tausta-2, .tausta-3 {
    background-attachment: scroll;
  }

  #t-1t, #t-2t, #t-3t {
    font-size: 2.5vw;
  }

  .teksti-3 {
    flex-direction: column;
  }

  .vasen {
    float: none;
  }
  .oikea {
    float: left;
  }

  .tiedot {
    font-size: 3vw;
  }

  .vasen-1, .oikea-1, .vasen-2 {
    padding: 0;
  }

  .alue {
    flex-direction: column;
  }

  .alue-1, .alue-2, .alue-3 {
  width: 100%;
  }

  .lisa {
    width: inherit;
  }

  .tekijat {
    padding-left: 3vw;
    padding-top: 2vh;
  }
}

@media only screen and (min-width: 600px, max-width:767px) {
  body, html, main {
    font-size: 1.5vw;
  }

  .tausta-1, .tausta-2, .tausta-3 {
    background-attachment: scroll;
  }

  #t-1t, #t-2t, #t-3t {
    font-size: 1.5vw;
  }

  .vasen-1, .oikea-1, .vasen-2, .oikea-2 {
    padding: 0;
  }

  .alue {
    flex-direction: column;
  }
  .alue-1, .alue-2, .alue-3 {
  width: 100%;
  }

  .lisa {
    width: inherit;
  }
}

@media only screen and (min-width: 768px, max-width: 991px) {
  body, html, main {
    font-size: 1.5vw;
  }

  .tausta-1, .tausta-2, .tausta-3 {
    background-attachment: fixed;
  }

  .rivi-2 {
    padding-left: 5%;
  }

  .alue {
    flex-direction: column;
  }

  .alue-1, .alue-2, .alue-3 {
  width: 100%;
  }

  .lisa {
    width: inherit;
  }
}

@media only screen and (min-width: 992px, max-width :1199px) {
}

@media only screen and (min-width: 1200px) {

}
