* {
  box-sizing: border-box;
}

body, html, main {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  size: 1.5vw;
  color: white;
  background: #2f893f;
}

header {
  background: #156d25;
  color: #191970;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 2vw;
  padding: 0.5vw;
  margin: 0.2%;
  border-radius: 1vw;
  display: flex;
  flex-wrap: nowrap;
}

.navi {
  margin: 2vw 0.1vw;
  list-style-type: none;
  }

/* Sivulinkkien muotoilu  */
.navi, a:link {
  display: flex;               /* a:hover MUST come after a:link and a:visited */
  color: #55a963;              /* a:active MUST come after a:hover */
  padding: 1vh 1.5vw;
  text-decoration: none;
  width: 33.33%;
  }

 a:visited {
  color: #86c892;
  }

 a:hover {
  color: #c2c2d2;
  }

 a.active {
    color: #024b0f;
  }
.pVal {
  position: relative;
  float: right;
  display: flex;
  margin: 0 2% 0 2%;

}

h1 {
  text-align: center;
}

.etu {
  width: 60%;
  margin: 5% 20% 0 20%;
  position: relative;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  background: #024b0f;
  color: #DCDCDC;
  margin: 20% 0 1% 0;
 }

/* Tekijät */
.tekijat {
   width: 33.33%;
   list-style-type: none;
   padding: 0 0 0 3.5%;
 }

#ai {
  width: 25%;
  padding: 0 0 0 30%;
  font-size: 1.5vw;
}

#pi {
  width: 25%;
  padding: 0 0 0 22%;
  font-size: 1.5vw;
}

#peO {
  text-align: center;
}

#peli {
  width: 60%;
  margin: 5% 20% 2% 20%;
}
