* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  margin: 0;
  font: Arial, Helvetica, sans-serif;
  line-height: 1.8em;
  color: #7C400E;
  background-color: #FFD9BA
}

h1 {
}

h2 {
  font-family: 'Zhi Mang Xing', cursive;
}

h3 {
}

.tausta-1, .tausta-2 {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tausta-1 {
    background-image: url("harrastuskuva.jpg");
    min-height: 100%;
}

.tausta-2 {
  background-image: url("muokattu1.2,2500.jpg");
  min-height: 100%;
}

.etusivupaketti {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
}

.otsikkopaketti {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
/*  background-color: #FFD9BA; */
}

.etusivupaketti .source {
  /*background-color: hsla(30, 50%, 70%, 0.7);*/
  /*font-size:18px;*/
  background-color: #FFD9BA;
  padding:5px;
  font-size: 2em;
}

/*.otsikko {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.otsikko mark.border{
  background: transparent; /* vaihda tilalle väri
  padding: 18px;
  font-size: 18px;
}

.otsikko mark.border-2{
  background: transparent;
  padding: 18px;
  font-size: 20px;
} */

.te {
  background: #FFD9BA;
  position: relative;
  text-align: justify;
  font-size: 15px;
  padding: 20px 30px;
}

/* h2 {
  font-family: 'Zhi Mang Xing', cursive;
} */
