<meta charset="UTF-8"
 https://paletton.com/#uid=10u0u0kiXpk8JEzdUunn7kWsxfB Linkki väreihin
body, html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

* {
  margin:0:
  padding:0;
}

section.koko_sivusto {
  background-color: hsla(31, 100%, 10%, 1);
  position: relative;
  width:100%;
}

.sivu1 {
  background-image: url(kuvat/1.jpg);
  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.sivu2 {
  background-image: url(kuvat/2.jpg);

  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sivu3 {
  background-image: url(kuvat/3.jpg);

  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sivu4 {
  background-image: url(kuvat/4.jpg);

  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.sivu5 {
  background-image: url(kuvat/5.jpg);

  height: 100vh;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  padding:5px 10px;
  background-color: hsla(31, 100%, 70%, 0.8);
  margin:auto;
  font-size: 30px;

}
 h2 {
  background-color: hsla(31, 100%, 50%, 0.8);
  padding:10px 12vw;
  text-align: left;

}
.paketti {
/*  display: inline-block;
  height:100%;
  vertical-align: middle;
  margin:0; */
}
.teksti {
  display:inline-block;
  text-align: justify;
  top:50%;
  height:auto;
  background-color: hsla(30, 50%, 70%, 0.7);
  color:black;
  font-size:18px;
  margin:10%;
  padding:5px;
}

footer {
  display:flex;
  background-color: hsla(31, 100%, 30%, 1);
  position:absolute;
  bottom:0;
  width:100%;
}

div.tekijät {
  flex:1;
}
div.linkit {
  flex:1;
}
ul {
  list-style-type: none;
}
a {
  color:black;
}
